<div class="catalog-network">
  <div class="menu-items">
    <a href="/add" class="add-product">Add Product</a>
    <a href="/search" class="search-product">Search Product</a>
    <a href="/users" class="list-users">List Users</a>
  </div>
  <router-outlet></router-outlet>
</div>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
